* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@font-face {
  font-family: 'ApercuCondensedPro-Light';
  src: url(./fonts/ApercuCondensedPro-Light.ttf);
}

@font-face {
  font-family: 'ApercuCondensedPro-Medium';
  src: url(./fonts/ApercuCondensedPro-Medium.ttf);
}

:root{
  --color-major: rgb(251, 13, 27);
  --color-minor: rgb(244, 217, 20);
  --color-secondary: rgb(4, 171, 104);
  --color-bg: rgb(241, 241, 241);
  --color-text-secondary:rgb(255, 255, 255);
  --color-text: rgb(0, 0, 0);
}


body{
  font-family: 'ApercuCondensedPro-Light' , sans-serif  ;
  letter-spacing: .05em;
  text-transform: uppercase; 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

/* ::selection{
  color: var(--color-text-secondary);
} */

/* HEADER */

header{
  font-family: 'ApercuCondensedPro-Medium';
  position: fixed;
  width: 100%;
  border-bottom: 2px solid var(--color-text) ;
  top: 0;
  left: 0;
  background-color: var(--color-text-secondary); 
  z-index: 10000;
}

.nav-list{
  min-height: 54px;
  display: flex;
  justify-content: space-around;
  align-items: center;
} 

.nav-item a{
 position: relative;
 font-size: 18px;
 color: var(--color-text);
} 

.nav-item a:hover{
  border-bottom: 2px solid var(--color-text);
}

.nav-item :hover{
  cursor: pointer;
}

.nav-item img{
  width: 500px;
}

.ri-instagram-line{
  font-size: 24px;
}


/* PAGE 1 */
/* 
.hero-section img{
  width: 80%; 
  height: auto;
  align-items: center;
  margin-left: 156px;
  margin-bottom: 10px;
  justify-content: center;
} */


/* PAGE 2 */

.intro-block{
  background-color: var(--color-major);
}

.box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 98px 28px 98px 28px;
}

.box-container img{
  height: 600px;
}

.box-container h2{
  font-size: 50px;
}

h1{
  text-align: center;
  font-size: 100px;
  padding-bottom: 64px;
}


/* PAGE 3 */

#moving-div{
  min-height: 68px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space:nowrap;
  border-top: 2px solid var(--color-text);
}

.move{
  display: inline-block;
  animation-name: move;
  animation-duration: 54s ;
  animation-timing-function: linear ;
  animation-iteration-count: infinite;
}

.move p{
  font-family: 'ApercuCondensedPro-Medium';
  display: inline-flex;
  font-size: 33px;
  color: var(--color-text);
  margin-right: 148px;
}

@keyframes move {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100% );
  }
}


/* PAGE 4 */

.products-container{
  display: grid;
  grid-template-columns: repeat(3, 506px);
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg);
  min-height: 556px;
  padding-top: 50px;
  border-top: 2px solid var(--color-text);
  border-right: 2px solid var(--color-text);
}

.product img{
  width: auto;
  height: 400px;
  transition: all .1s;
}

.box-green , .box-yellow, .box-red{
  padding: 20px;
  min-height: 556px;
  border-top: 2px solid var(--color-text);
  border-right: 2px solid var(--color-text);
}

.box-green{
  background-color:var(--color-secondary);
}

.box-yellow{
  background-color: var(--color-minor);
}

.box-red{
  background-color: var(--color-major);
}

.logo-box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-minor);
  border-top: 2px solid var(--color-text);
  border-right: 2px solid var(--color-text);
}

.logo-box img{
  height: 300px;
  width: auto;
}

.logo-box:hover{
  background-color: var(--color-major);
}

h4{
  font-size: 98px;
}

h5{
  padding-top: 50px;
  font-size: 30px;
}

h5:hover{
  border-bottom: 2px solid var(--color-text);
}

.findus-box{
  padding: 20px;
  border-top: 2px solid var(--color-text);
}

.findus-box button{
  margin-top: 250px;
  background-color: var(--color-major) ;
  padding: 14px 70px;
  border: 2px solid var(--color-text);
  font-family: 'ApercuCondensedPro-Medium', sans-serif;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}


/* PAGE 5 = PAGE 3 */


/* PAGE 6 (about us)*/

.about-us{
  background-color:var(--color-major) ;
  border-top: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
}

.aboutus-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--color-text-secondary);
  gap: 48px;
  padding-top: 160px;
  padding-bottom: 100px;
}

.aboutus-heading h4{
  font-size: 30px;
}

.aboutus-heading h2{
  width: 960px;
  font-size: 248px;
}

.aboutus-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 120px;
}

.aboutus-section img{
  height: 764px;
}

.text-section p{
  font-family: 'ApercuCondensedPro-Medium';
  margin: 0;
  text-align: center;
  text-transform: none;
  width: 500px;
  font-size: 30px;
  color: var(--color-text-secondary);
}

.text-section p + p{
  margin-top: 16px;
}


/* PAGE 7 (recipes) */

.recipes{
  padding:  78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipes h2{
  font-size: 48px;
  margin-bottom: 48px; 
}

.recipe-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-block img{
  border: 2px solid var(--color-text);
}

.fake-btn {
  text-align: center;
  font-size: 94px;
  color: var(--color-text);
  padding: 8px 58px;
  margin-top:-4px ;
  border: 2px solid var(--color-text);
  border-top: none;
}

.fake-btn:hover{
  background-color: var(--color-major);
}

.recipe-blocks{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.recipe-blocks img{
  width: 624px;
  height: 360px;
  border: 2px solid var(--color-text);
}

.btn{
  width: 624px;
  height: 80px;
  padding: 10px 0;
  margin-top:-4px ;
  border: 2px solid var(--color-text);
  border-top: none;
}

.btn a{
  color: var(--color-text);
  font-size: 54px;
  text-align: center;
  font-family: 'ApercuCondensedPro-Medium';
}

.btn:hover{
  background-color: var(--color-major) ;
}

.recipe-btn{
  font-family: 'ApercuCondensedPro-Medium';
  background-color: var(--color-major) ;
  color: var(--color-text);
  font-size: 32px;
  padding: 10px 24px ;
  width: 340px;
  text-align: center;
  border: 2px solid var(--color-text);
}

.recipe-btn:hover{
  background-color: var(--color-bg);
}


/* PAGE 8 (find us) */

.find-us{
  display: flex;
  background-color: var(--color-minor) ;
  border-top:2px solid var(--color-text) ;
  border-bottom:2px solid var(--color-text) ;
}

.find-us img{
 width: 760px;
 height: 950px;
}

.right-block h2{
  font-size: 120px;
  text-align: center;
  width: 540px;
  margin-left: 120px;
  margin-bottom: 50px;
  margin-top: 40px;
  letter-spacing: 12px;
}

.logos{
  display: flex;
  flex-direction: column;
  margin-left: 300px ;
}

.logos img{
  height: 100px;
  width: 200px;
  height: 110px;
  margin-top: 24px;
}

.right-block h4{
  margin-top: 40px;
  margin-left: 156px;
  font-size: 28px;
  width: 588px;
}


/* FOOTER */

footer{
  font-family: 'ApercuCondensedPro-Medium';
  background-color: var(--color-major);
  display: flex;
  gap: 40px;
  padding: 40px;
}

.footer-items a{
  color: var(--color-text);
  font-size: 42px;
}

.footer-items a:hover{
  border-bottom: 3px solid var(--color-text);
}

.footer-items li{
  margin-bottom: 34px;
}


.footer-items p{
  font-size: 17px;
  margin-top: 52px;
}

.footer-contact a{
  font-size: 42px;
  color: var(--color-text);
  width: 628px;
}

.footer-contact a:hover{
  border-bottom: 3px solid var(--color-text);
}

.footer-contact p{
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.footer-contact input {
  padding: 22px;
  width: 504px;
  border:2px solid var(--color-text) ;
  background: transparent;
}

::placeholder {
  color: var(--color-text);
  font-size: 16px;
}
